In [1]:
import pandas as pd
import re

In [2]:
with open("body_model_data_full.txt","r") as f:
    data_txt = f.read()

In [3]:
splits = data_txt.split("\n\n")

In [4]:
len(splits)

121

In [5]:
# drop the last blank entry
splits = splits[:-1]

In [6]:
res = {}
for j,split in enumerate(splits):
    lines = split.split("\n")
    res[j] = {"f":[],"z":[]}
    for i, l in enumerate(lines):
        if i == 0:
            idx = re.findall(r'\((\d+)\)', l)[0]
            idx = int(idx)
            continue
        if i == 1:
            continue
        vals = re.findall(r"(\d+\s|\d+\.\d+)", l)
        vals = [v.strip() for v in vals]
        f, q = vals
        res[j]["f"].append(float(f))
        res[j]["z"].append(float(q))

In [58]:
df = pd.concat([pd.DataFrame(v).assign(key=k) for k,v in res.items()])

In [59]:
df["example"] = 1

          f          q  key
0     40.00  24.006831    0
1     40.02  23.918640    0
2     40.04  23.830500    0
3     40.06  23.742409    0
4     40.08  23.654367    0
...     ...        ...  ...
996   14.96  89.295864  119
997   14.97  89.434503  119
998   14.98  89.573097  119
999   14.99  89.711647  119
1000  15.00  89.850153  119

[120120 rows x 3 columns]

In [ ]:
df